@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald");
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
/* Background Information */

/* Nav Bar Logo */
#brand-name,
.glow {
  color: white;
  font-family: neon;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080,
    0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}
.glow {
  font-size: 3vw;
}
/* Container where the login div lives */
.container {
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
}
/* background for the body of the page */
body {
  background-image: url("https://media.giphy.com/media/2A5yv5Kv4UJauAOWK3/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* Style to match our UI theme, overriding the Firebase style */
h1.firebaseui-title {
  color: white;
  font-family: neon;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080,
    0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}
form {
  background-color: #3e4551;
  height: 100%;
}
button.firebaseui-id-secondary-link.firebaseui-button.mdl-button.mdl-js-button.mdl-button--primary {
  display: inline-block;
  font-weight: 400;
  color: white;
  border: 1px solid white;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button.firebaseui-id-secondary-link.firebaseui-button.mdl-button.mdl-js-button.mdl-button--primary:hover {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button.firebaseui-id-submit.firebaseui-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored {
  display: inline-block;
  font-weight: 400;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button.firebaseui-id-submit.firebaseui-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored:hover {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.firebaseui-card-footer {
  display: none;
}
div.firebaseui-textfield.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded {
  color: white !important;
}
.firebaseui-textfield.mdl-textfield .firebaseui-input {
  border-color: white !important;
}
.firebaseui-label {
  color: white !important;
  direction: ltr;
  font-size: 16px;
  text-align: left;
}
.firebaseui-textfield.mdl-textfield .firebaseui-input {
  border-color: white;
}
..mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: white !important;
}
.firebaseui-input,
.firebaseui-input-invalid {
  border-radius: 0;
  color: white !important;
  direction: ltr;
  font-size: 16px;
  width: 100%;
}
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: white !important;
}
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: white !important;
}
.firebaseui-input,
.firebaseui-input-invalid {
  border-radius: 0;
  color: white !important;
  direction: ltr;
  font-size: 16px;
  width: 100%;
}
.firebaseui-label {
  color: white !important;
  direction: ltr;
  font-size: 16px;
  text-align: left;
}
